<!-- EJS TEMPLATE -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, earum consequuntur sit quaerat, consectetur nostrum quasi perferendis officia debitis at reprehenderit in voluptatibus dicta tempora molestias. Maiores maxime ad molestias?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi esse maxime facere consectetur porro, reiciendis tempora cum sed temporibus quo earum, laudantium quam cupiditate minus, doloremque velit enim! Incidunt, tempora?</p>
</body>
</html>